$dark : #2e2e2e
$dark-deep: #202020
$yellow: #F9E79F
$coral : #ff6f28
$border-coral : solid 1px $coral

$border-coral-lg : solid 3px $coral


a
    color: $yellow
    text-decoration: underline

.text-3x
    font-size: 4em
.text-2x
    font-size: 2em
.text-coral
    color: $coral
.text-yellow
    color: #F9E79F
.bg-coral
    background-color: $coral
    color: $dark
.border-coral
    border: solid 1px coral
.border-yellow
    border: solid 1px rgba(249, 231, 159, 0.5)
.border-opacity
    border: solid 1px rgba(255, 111, 40, 0.5)
.font-jura
    font-family: 'Jura', sans-serif
.bg-dark-deep
    background-color: #202020
    color: coral

.btn-dark-deep
    background-color: $dark
    color: $coral
@media screen and (max-width: 600px)
    .text-3x
        font-size: 28px
        font-weight: bold
    .text-2x
        font-size: 24px
        
